body {
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #ffffff;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #555;
    font-size: 14px;
}

.button {
    padding: 10px;
    margin-bottom: 10px;
    width: 104.65116%;
    border: none;
    border-radius: 3px;
    background-color: #006400;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}