.centered_background {
    background-image: url('../image/bkg.png');
    background-repeat: no-repeat;
    text-align: center;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: rgb(193, 23, 23);
    text-align: center;
}

.success {
    color: rgb(51, 193, 23);
    text-align: center;
}

.key {
    color: rgb(155, 171, 10);
    font-weight: bold;
}

.grid-container3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.scrollable_div {
    overflow: auto;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.bordered {
    border: 1px;
    border-color: black;
    border-style: solid;
}