<!DOCTYPE html>
<html>

<head>
    <title>HEASM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Выйти">
            </form>
        </div>
        <div>
            <form action="/options" method="post">
                <input type="submit" value="К выбору функции">
            </form>
        </div>
    </header>
    <div class="error">{% for message in get_flashed_messages(category_filter=["error"]) %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="success">{% for message in get_flashed_messages(category_filter=["message"]) %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div>
        <div class="grid-container2col">
            <div class="scrollable_div">
                <p>Что вы хотите изменить?</p><br>
                <form action="/add" method="post">
                    {% for filter in cols %}
                    <div>
                        <input type="checkbox" name="filters" value="{{ filter[1] }}" />
                        <label>{{ filter[1] }}</label>
                    </div>
                    <br> {% endfor %}
                    <input type="submit" value="выбрать">
                </form>
            </div>
            <div class="scrollable_div">
                <form action="/add_execute" method="post">
                    <table class="bordered">
                        <tr class="bordered">
                            {% for i in selected %}
                            <th class="bordered" id="{{'th_' + i}}">{{i}}</th>
                            {% endfor %}
                        </tr>
                        <tr class="bordered">
                            {% for i in selected %}
                            <td class="bordered" id="{{'cont_' + i}}">
                                <input type="text" name="{{i}}" id="{{i}}" value="">
                            </td>
                            {% endfor %}
                        </tr>
                        <tr class="bordered">
                            {% for i in selected %}
                            <td class="bordered" id="{{'div_' + i}}">
                                <script>
                                    {
                                        var button = document.createElement('input');
                                        button.type = "button"
                                        button.value = "X";
                                        button.onclick = function updateButton() {
                                            var div = document.getElementById("{{'th_' + i}}");
                                            div.remove();
                                            var div = document.getElementById("{{'cont_' + i}}");
                                            div.remove();
                                            var div = document.getElementById("{{'div_' + i}}");
                                            div.remove();
                                        }
                                        var container = document.getElementById("{{'div_' + i}}");
                                        container.appendChild(button);
                                    }
                                </script>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <input type="submit" value="Добавить">
                </form>
                <script>
                    {
                        var entry = document.getElementsById("ID в базе данных");
                        entry.value = "{{newId}}"
                    }
                </script>
            </div>
        </div>
    </div>
</body>

</html>