<!DOCTYPE html>
<html>

<head>
    <title>HEASM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Выйти">
            </form>
        </div>
        <div>
            <form action="/options" method="post">
                <input type="submit" value="К выбору функции">
            </form>
        </div>
    </header>
    <div>
        <div class="grid-container3col">
            <div class="scrollable_div">
                <p>Что вы хотите изменить?</p><br>
                <form action="/delete" method="post">
                    {% for filter in cols %}
                    <div>
                        <input type="checkbox" name="filters" value="{{ filter[1] }}" />
                        <label>{{ filter[1] }}</label>
                    </div>
                    <br> {% endfor %}
                    <input type="submit" value="выбрать">
                </form>
            </div>
            <div class="scrollable_div">
                <p>Отбор (опционально)</p>
                <form action="/delete_retrieve" method="post">
                    {% for s in selected %}
                    <div id="{{ 'div_' + s}}">
                        <table class="bordered">
                            <tr>
                                <td>
                                    <div class="bordered">
                                        {{s}}
                                    </div>
                                </td>
                                <td id="{{s}}">
                                    <script>
                                        {
                                            var inf = document.createElement('input');
                                            inf.id = "{{'inf_' + s}}";
                                            inf.type = "hidden"
                                            inf.value = "0";
                                            inf.name = "{{'inf_' + s}}";
                                            var button = document.createElement('input');
                                            button.type = "button"
                                            button.value = "X";
                                            button.id = "{{'but_' + s}}";
                                            button.onclick = function updateButton() {
                                                var div = document.getElementById("{{'div_' + s}}");
                                                var i = document.getElementById("{{'inf_' + s}}");
                                                var pass = document.getElementById("{{'pass_' + s}}");
                                                i.value = "1"
                                                pass.value = "1"
                                                div.remove();
                                            }
                                            var container = document.getElementById("{{s}}");
                                            container.appendChild(button);
                                            container.appendChild(inf);
                                        }
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Оператор</label>
                                </td>
                                <td>
                                    <label>Выражение</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="{{'comp_op_' + s}}">
                                </td>
                                <td>
                                    <input type="text" name="{{'comp_clause_' + s}}">
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Исполнить">
                </form>
            </div>
            <div class="scrollable_div">
                {% if ready %}
                <form action="/delete_retrieve" method="post">
                    <table class="bordered">
                        <tr class="bordered">
                            <th class="bordered">Удалить?</th>
                            {% for i in selected %}
                            <th class="bordered">{{i}}</th>
                            {% endfor %}
                        </tr>
                        {% for entry in range(results| length) %}
                        <tr class="bordered">
                            <td class="bordered">
                                <input type="checkbox" name="delete" value="{{entry}}">
                            </td>
                            {% for atr in range(results[entry]| length) %}
                            <td class="bordered" id="{{'parent' + '_' + entry|string + '_' + atr|string}}">
                                {{results[entry][atr]}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    <input type="submit" value="Удалить"> {% endif %}
                    <div>
                        {% for s in selected %}
                        <input type="hidden" name="{{'inf_' + s}}" id="{{'pass_' + s}}" value="0"> {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>