<!DOCTYPE html>
<html>

<head>
    <title>HEASM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/HEASM_HEADER_style.css">
</head>

<body class>
    <header header id="HEASM_header">
		<div id="TPU_logo">
			<img src ="../static/image/tpu-logo-hor.png" /> <!-- Logo img path -->
		</div>
		<nav>
			<div id = "HEASM_header_menu">
				<ul>
					<li><a href="/options?options-submit=options">К выбору функции</a></li> <!-- Not sure -->
					<li><a href="/logout?logout-submit=logout">Выйти</a></li>
					
				</ul>
			</div>
		</nav>
    </header>
	<main id = "HEASM_main">
		<div class="grid-container3col">
			<div class="scrollable_div">
				<button class="button">Что вы хотите изменить?</button>
				<form action="/edit" method="post">
					<button class="button" value="submit">Выбрать</button>
					{% for filter in cols %}
					<div>
						<input type="checkbox" name="filters" value="{{ filter[1] }}" />
						<label>{{ filter[1] }}</label>
					</div>
					<br> {% endfor %}
				</form>
			</div>
			<div class="scrollable_div">
				<button class="button">Отбор (опционально)</button>
				<form action="/edit_retrieve" method="post">
					<button class="button" value="submit">Исполнить</button>
					{% for s in selected %}
					<div id="{{ 'div_' + s}}">
						<table class="bordered">
							<tr>
								<td>
									<div class="bordered">
										{{s}}
									</div>
								</td>
								<td id="{{s}}">
									<script>
										{
											var inf = document.createElement('input');
											inf.id = "{{'inf_' + s}}";
											inf.type = "hidden"
											inf.value = "0";
											inf.name = "{{'inf_' + s}}";
											var button = document.createElement('input');
											button.type = "button"
											button.value = "X";
											button.id = "{{'but_' + s}}";
											button.onclick = function updateButton() {
												var div = document.getElementById("{{'div_' + s}}");
												var i = document.getElementById("{{'inf_' + s}}");
												var pass = document.getElementById("{{'pass_' + s}}");
												i.value = "1"
												pass.value = "1"
												div.remove();
											}
											var container = document.getElementById("{{s}}");
											container.appendChild(button);
											container.appendChild(inf);
										}
									</script>
								</td>
							</tr>
							<tr>
								<td>
									<label>Оператор</label>
								</td>
								<td>
									<label>Выражение</label>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" name="{{'comp_op_' + s}}">
								</td>
								<td>
									<input type="text" name="{{'comp_clause_' + s}}">
								</td>
							</tr>
						</table>
						<br>
					</div>
					{% endfor %}
				</form>
			</div>
			<div class="scrollable_div">
				{% if ready %}
				<button class="button">Окно для изменений</button>
				<form action="/edit_retrieve" method="post">
					<button class="button" value="submit">Подтвердить изменения</button>
					<table class="bordered">
						<tr class="bordered">
							{% for i in selected %}
							<th class="bordered">{{i}}</th>
							{% endfor %}
						</tr>
						{% for entry in range(results| length) %}
						<tr class="bordered">
							{% for atr in range(results[entry]| length) %}
							<td class="bordered" id="{{'parent' + '_' + entry|string + '_' + atr|string}}">
								<script>
									{
										var target = document.createElement('input');
										var data = document.createElement('input');

										data.type = "hidden"
										data.value = "0";
										data.name = "{{'changed' + '_' + entry|string + '_' + atr|string}}";
										data.id = "{{'changed' + '_' + entry|string + '_' + atr|string}}";

										target.type = "text"
										target.value = "{{results[entry][atr]}}";
										target.name = "{{entry|string + '_' + atr|string}}";
										target.id = "{{entry|string + '_' + atr|string}}";

										target.oninput = function updated() {
											var data1 = document.getElementById("{{'changed' + '_' + entry|string + '_' + atr|string}}");
											data1.value = "1"
										}
										var container = document.getElementById("{{'parent' + '_' + entry|string + '_' + atr|string}}");
										container.appendChild(target);
										container.appendChild(data);
									}
								</script>
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
						<div>
							{% for s in selected %}
							<input type="hidden" name="{{'inf_' + s}}" id="{{'pass_' + s}}" value="0"> {% endfor %}
						</div>
					</table>
				</form>
				{% endif %}
			</div>
		</div>
	</main>
    
</body>

</html>
