<!DOCTYPE html>
<html>

<head>
    <title>HEASM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Выйти">
            </form>
        </div>
        <div>
            <form action="/options" method="post">
                <input type="submit" value="К выбору функции">
            </form>
        </div>
    </header>
    <div class="grid-container3col">
        <div class="scrollable_div">
            <form action="/logs" method="post">
                {% for filter in cols %}
                <div>
                    <input type="checkbox" name="filters" value="{{ filter[1] }}" />
                    <label>{{ filter[1] }}</label>
                </div>
                <br> {% endfor %}
                <input type="submit" value="применить">
            </form>
        </div>
        <div class="scrollable_div">
            <form action="/logs_exec" method="post">
                {% for s in selected %}
                <div id="{{ 'div_' + s}}">
                    <table class="bordered">
                        <tr>
                            <td>
                                <input type="checkbox" name="select_filters" value="{{s}}" checked/>
                                <label>Показать</label>
                            </td>
                            <td>
                                <div class="bordered">
                                    {{s}}
                                </div>
                            </td>
                            <td id="{{s}}">
                                <script>
                                    {
                                        var button = document.createElement('input');
                                        button.type = "button"
                                        button.value = "X";
                                        button.id = "{{'but_' + s}}";
                                        button.onclick = function updateButton() {
                                            var div = document.getElementById("{{'div_' + s}}");
                                            div.remove();
                                        }
                                        var container = document.getElementById("{{s}}");
                                        container.appendChild(button);
                                    }
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="{{'rad_' + s}}" value="no" checked>
                                <label>Не сортировать</label>
                            </td>
                            <td>
                                <input type="radio" name="{{'rad_' + s}}" value="asc">
                                <label>По возрастанию</label>
                            </td>
                            <td>
                                <input type="radio" name="{{'rad_' + s}}" value="des">
                                <label>По убыванию</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="where_filters" value="{{s}}" />
                                <label>Отобрать</label>
                            </td>
                            <td>
                                <input type="text" name="{{'comp_op_' + s}}">
                            </td>
                            <td>
                                <input type="text" name="{{'comp_clause_' + s}}">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
                {% endfor %}
                <input type="submit" value="Исполнить">
            </form>
        </div>
        <div class="scrollable_div">
            <table class="bordered">
                <tr class="bordered">
                    {% for i in shown %}
                    <th class="bordered">{{i}}</th>
                    {% endfor %}
                </tr>
                {% for entry in results %}
                <tr class="bordered">
                    {% for atr in entry %}
                    <td class="bordered">{{atr}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>